################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**
/**/.idea/**
/**/.vs/**
/**/obj/**
/**/bin/**
/IoC.Configuration.Tests/bin/**
/IoC.Configuration/docs/_build/**
/IoC.Configuration/docs/_static/**
/IoC.Configuration/docs/_templates/**
