<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinUI3Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinUI3Demo.Properties.Settings>
            <setting name="IoCConfigurationFilePath" serializeAs="String">
                <value>K:\Projects\OROptimizer\MyGitHubProjects\IoC.Configuration\ApplicationIntegrationDemos\WinUI3\WinUI3Demo\IoCConfiguration.xml</value>
            </setting>
            <setting name="IoCConfigurationDllsPath" serializeAs="String">
                <value>K:\Projects\OROptimizer\MyGitHubProjects\IoC.Configuration\ApplicationIntegrationDemos\WinUI3\WinUI3Demo\bin</value>
            </setting>
        </WinUI3Demo.Properties.Settings>
    </userSettings>
</configuration>
