============================================================
IoCConfiguration_settingValue_ReferencingInConfiguration.xml
============================================================

This configuration file can be downloaded downloaded from `IoCConfiguration_settingValue_ReferencingInConfiguration.xml <https://github.com/artakhak/IoC.Configuration/blob/master/IoC.Configuration.Tests/IoCConfiguration_settingValue_ReferencingInConfiguration.xml>`_.

.. code-block:: xml
   :linenos:

   <IncludedFilePlaceHolder>..\..\IoC.Configuration.Tests\IoCConfiguration_settingValue_ReferencingInConfiguration.xml</IncludedFilePlaceHolder>