======================================
IoCConfiguration_autoServiceCustom.xml
======================================

This configuration file can be downloaded downloaded from `IoCConfiguration_autoServiceCustom.xml <https://github.com/artakhak/IoC.Configuration/blob/master/IoC.Configuration.Tests/IoCConfiguration_autoServiceCustom.xml>`_.

.. code-block:: xml
   :linenos:
   
    <IncludedFilePlaceHolder>..\..\IoC.Configuration.Tests\IoCConfiguration_autoServiceCustom.xml</IncludedFilePlaceHolder>  