=============================
XML Configuration File Schema
=============================

XML Configuration file is validated against the schema file **IoC.Configuration.Schema.7579ADB2-0FBD-4210-A8CA-EE4B4646DB3F.xsd** below, when the file is loaded by **IoC.Configuration**.

This file can be found also in folder "IoC.Configuration.Content", under the folder where Nuget package **IoC.Configuration** is downloaded (see the screenshot below),
or can also be downloaded from `IoC.Configuration.Schema.7579ADB2-0FBD-4210-A8CA-EE4B4646DB3F.xsd <https://github.com/artakhak/IoC.Configuration/blob/master/IoC.Configuration/IoC.Configuration.Content/IoC.Configuration.Schema.7579ADB2-0FBD-4210-A8CA-EE4B4646DB3F.xsd>`_ or
from `oroptimizer.com/IoC.Configuration/V2/IoC.Configuration.Schema.7579ADB2-0FBD-4210-A8CA-EE4B4646DB3F.xsd <http://oroptimizer.com/IoC.Configuration/V2/IoC.Configuration.Schema.7579ADB2-0FBD-4210-A8CA-EE4B4646DB3F.xsd>`_.

.. image:: ioc.configuration-files.jpg

To use Visual Studio code completion based on this schema, right click "Properties" on the XML configuration file, and select the schema in "Schemas" text box in properties tab (see the screenshot below).

 .. image:: selecting-schema-in-vs.jpg

Alternatively, reference the schema in xmlConfiguration element as displayed below:

.. code-block:: xml
   :linenos:
   
   <iocConfiguration
   	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
   	xsi:noNamespaceSchemaLocation="http://oroptimizer.com/IoC.Configuration/V2/IoC.Configuration.Schema.7579ADB2-0FBD-4210-A8CA-EE4B4646DB3F.xsd">
   	<!--...-->
   <iocConfiguration>
 
**XML configuration file schema:**

.. code-block:: xml
   :linenos:
   
   <IncludedFilePlaceHolder>..\..\IoC.Configuration\IoC.Configuration.Content\IoC.Configuration.Schema.7579ADB2-0FBD-4210-A8CA-EE4B4646DB3F.xsd</IncludedFilePlaceHolder>